@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{margin:0;padding:0;box-sizing: border-box;scroll-behavior: smooth;}

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
body::-webkit-scrollbar {display: none;}

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

h1{
    padding: 20px 0 40px 0;
    font-size: 4em;
    font-weight: bolder;
    display:block;
}

blockquote{
    padding: 30px 0 30px 0;
}
blockquote marquee{
    font-family: monospace;
    font-size: 16px;
    color: rgb(240, 243, 79, 2.0);
    letter-spacing: 0.1em;
}
.horizontal{
    width:1100px;
    background:#000;
}
.container{
    background: #FEAC5E;  
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); 
    text-align: center;
    position: relative;
}

.container h1{
    display: inline;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
}

.container p{
    display:inline;
    font-size:20px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 30px 0px;
    letter-spacing:2px;
}
.more{
    padding: 80px;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}
.more>div{
    width:20em;
    height: auto;
    text-align:center; 
}


.card{
    min-width: 330px;
    min-height: 350px;
border-radius: 10px;
margin: 20px; 
backdrop-filter: blur(10px);
background-color: rgba(255,255,255, 0.25);
border: 1px rgba(0,0,0, 0.2) solid;
transition: transform 1.1s;
position: relative;
}


.card::before{
    content: '';
    position: absolute;
    top:-4px;
    left: -4px;
    right:-4px;
    bottom: -4px;;
    transform: skewX(2deg) skewY(3deg);
    background: linear-gradient(315deg,#00ccff,#0e1538,#d400d4);
}
.card::after{
    content: '';
    position: absolute;
    top:-4px;
    left: -4px;
    right:-4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(4deg);
    filter: blur(10px);
    background: linear-gradient(315deg,#00ccff,#0e1538,#d400d4);
}

.card span{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10;
    border-radius: 10px;

}
.more .card:hover{
    border-bottom: 5px solid #2f2f2f;
  transform: scaleY(1.08);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 40px 5px;
}
.more dt{
    font-size: 25px;
}

.more .heading{
    width:100%;
    min-height: 60px;
    color:#fafafa;
    font-family:monospace;
    display:inline-block;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #1fa9ff; 
    background: -webkit-linear-gradient(190.05deg,#98e8fc -16.32%,#1fa9ff 56.32%,#8980f6 115.25%);
    background: linear-gradient(190.05deg,#98e8fc -16.32%,#1fa9ff 56.32%,#8980f6 115.25%);
}
.more .heading dt{
    text-align: center;
    margin:20px;
}
.more .content{
    display:inline-block;
    margin:20px;
    color: #000;
    font-weight: 600;
    height: 100px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:16px;
    color:#737373;
}


footer span
{
  display:block;
  color:#fff;
  font-weight: bolder;
  text-transform:uppercase;
  letter-spacing: 0.3em;
}

footer em a{
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
    color:#a7a7a7;
}

.lined{
    color: hsla(0,0%,100%,0.8);
    position: relative;
  }
  a.lined{
    position: relative;
  }
  a.lined:before {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    background: hsla(0,0%,100%,0.25);
    height: 1px;
    content: "";
    pointer-events: none;
  }
  
  a.lined:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    background: rgba(38,160,248,.8);
    height: 1px;
    transition: all .8s;
    transition-timing-function: cubic-bezier(.5,0,1,1);
    pointer-events: none;
    transform: none;
  }
  .lined:hover{
    color: #fff;
  }
  a.lined:hover:after, a:not([class]):hover:after {
    width: 100%;
  }
  
  
